/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------------*/
/*SCSS*/
/*Icons*/
.fa-laptop-code {
  font-size: large;
  text-align: center;
  text-decoration: underline;
  color: #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 100px;
  right: 0px;
  transition: width 0.5s;
  background: #e17b77;
}

.fa-twitter {
  font-size: large;
  text-align: center;
  text-decoration: underline;
  color: #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 100px;
  right: 0px;
  transition: width 0.5s;
  background: #00aced;
}

.fa-linkedin-in {
  font-size: large;
  text-align: center;
  text-decoration: underline;
  color: #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 100px;
  right: 0px;
  transition: width 0.5s;
  background: #007bb6;
}

.fa-facebook-f {
  font-size: large;
  text-align: center;
  text-decoration: underline;
  color: #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 200px;
  right: 0px;
  background: #3b5998;
  transition: width 0.5s;
}

.fa-github {
  font-size: large;
  text-align: center;
  text-decoration: underline;
  color: #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 300px;
  right: 0px;
  background: #333;
  transition: width 0.5s;
}

.fa-laptop-code:hover {
  width: 250px;
}

.fa-laptop-code:hover::after {
  content: "Check out my blog";
}

.fa-twitter:hover {
  width: 250px;
}

.fa-twitter:hover::after {
  content: "Follow me on Twitter";
}

.fa-linkedin-in:hover {
  width: 250px;
}

.fa-linkedin-in:hover::after {
  content: "Contact on Linkedin";
}

.fa-facebook-f:hover {
  width: 250px;
}

.fa-facebook-f:hover::after {
  content: "Like my Facebook page";
}

.fa-github:hover {
  width: 250px;
}

.fa-github:hover::after {
  content: "See projects on Github";
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 800px;
}

.container .box-1 {
  display: flex;
  align-content: center;
  background: #c3cfe2;
  margin: 120px;
  padding: 20px 35px;
}

.container .box-1 h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 45px;
  text-align: justify;
  text-justify: inter-character;
  font-weight: lighter;
  font-size: 25px;
  line-height: 35px;
}

.box-2 {
  display: flexbox;
  background: #fff;
  text-align: center;
  width: 480px;
  height: 700px;
  border-radius: 3%;
  box-shadow: 0px 10px 10px #6a88b6;
}

.footer {
  display: block;
  background: #686de0;
  font-size: 24px;
  align-content: center;
  width: 480px;
  height: 235px;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}

.footer h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  padding-top: 100px;
  text-align: center;
  color: #fff;
}

.footer h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  /* lighter
        color: #686de0;*/
}

.img-1 {
  top: 70px;
  border-radius: 75px;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 7px solid #fff;
}

/*Icons*/
/* PORTRAIT GRID*/
.box-3 {
  position: relative;
  display: grid;
  box-sizing: content-box;
  margin: 150px;
  padding: 50px;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}

.box-3 .portrait img {
  width: 450px;
  height: 550px;
  border-radius: 30px;
  padding: 20px;
}

.box-3 .overlay {
  position: absolute;
  width: 450px;
  height: 550px;
  padding: 20px;
  top: 0.4%;
  bottom: 1%;
  left: 3.5%;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  border-radius: 20px;
}

.box-3:hover .overlay {
  opacity: 1;
}

.overlay .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #555;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*Media*/
/*Mobile */
@media screen and (min-width: 418px) {
  .portrait {
    grid-template-columns: 1fr;
  }
}

/*Tablet */
@media screen and (min-width: 760px) {
  .portrait {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Desktop*/
@media screen and (min-width: 1200px) {
  .portrait {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*FontAwesome
.icon::before {
    display: inline-block;
    font-style: oblique;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; 
}
*/
/* Winc
.social-media {
    
    font-size: 20px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 500px;
    right: 0px;
    text-align: center;
    text-decoration: underline;
}*/
/*Winc
.social-media.blog {
    background-color: #e17b77;
}

.social-media.facebook {
    background-color: #3b5998;
}

.social-media.twitter {
    background-color: #00aced;
}

.social-media.github {
    background-color: #333;
}

.social-media.linkedin {
    background-color: #007bb6;
}

.fa-laptop-code::before {
    content: "\f5fc";
}
.fa-twitter::before {
    content: "\f099";
}
.fa-linkedin-in::before {
    content: "\f0e1";
}
.fa-facebook-f::before {
    content: "\f39e";
}
.fa-github::before {
    content: "\f09b";
}*/
/*# sourceMappingURL=style.css.map */